{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="formJadwal">
    <div class="container">
        <h1 class="judul_form">{{ title }}</h1>
        <hr>
        <form method="POST" action="{% url 'homepage:formUbah' pk=jawaban.pk %}">
            {% csrf_token %}
            {{ form }}
            <br>
            <button type="submit" class="btn btn-primary waves-effect waves-light" value="Save"><h4>Simpan</h4></button>
        </form>
        <hr>
    </div>
</div>
{% endblock %}
