{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="formJadwal">
        <div class="container">
            <h1 class="judul_form">{{ title }}</h1>
            <form method="POST" action="{% url 'homepage:formJadwal' %}">
                {% csrf_token %}
                {{ form }}
                <br>
                <button type="submit" class="btn btn-primary waves-effect waves-light" value="Save"><h4>Tambah Jadwal</h4></button>
            </form>
        </div>
    </div>
{% endblock %}