{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="formJadwal">
    <div class="container">
        <h1 class="judul_form">{{ title }}</h1>
        <br>
        <div class="col-md-12 left">
            <a href="{% url 'homepage:formJadwal' %}"><button data-toggle="modal" data-target="#con-close-modal" class="btn btn-outline-dark" style="float: right !important; margin-right: 10px;">➕</button></a>
            <table class="table m-0">
                <thead>
                    <tr>
                        <th>Kegiatan</th>
                        <th>Hari</th>
                        <th>Tanggal</th>
                        <th>Waktu</th>
                        <th>Tempat</th>
                        <th>Kategori</th>
                        <th>Ubah</th>
                        <th>Hapus</th>
                    </tr>
                </thead>
                <tbody>
                    {% for jawaban in respon %}
                    <tr>
                        <td>{{ jawaban.nama_kegiatan }}</td>
                        <td>{{ jawaban.hari }}</td>
                        <td>{{ jawaban.tanggal }}</td>
                        <td>{{ jawaban.waktu }}</td>
                        <td>{{ jawaban.tempat }}</td>
                        <td>{{ jawaban.kategori }}</td>
                        <td><a href="{% url 'homepage:formUbah' pk=jawaban.pk %}"><button data-toggle="modal" data-target="#con-close-modal" class="btn btn-outline-warning">✏️</button></a></td>
                        <td><a href="{% url 'homepage:formHapus' pk=jawaban.pk %}"><button class="btn btn-outline-danger">❌</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>
{% endblock %}