    {% extends 'base.html' %}
    {% load staticfiles %}
    
    {% block content %}
    <div class="single_page">
        <ul class="kumpulan_pages" style="display: block" border="0">
            <li class="beranda">
                <h3 class="teks_beranda">"Halo! Saya</h3> <br>
                <h1 class="teks_beranda" id="nama_beranda">Zafira Binta,</h1>
            </li>

            <li class="biodata">
                <div id="foto_profil">
                    <img src="{% static 'foto_profil.jpg' %}" alt="zafira" height="400px" width="300px">
                </div>

                <div>
                    <p id="teks_biodata">seorang mahasiswi Universitas Indonesia jurusan Ilmu Komputer 
                        angkatan 2018 yang sangat menyukai fotografi, kucing, dan cokelat."        
                    </p>
                </div>
                <div>
                    <table class="table_biodata" border="0">
                        <tr>
                            <td class="icon"><img src="{% static 'icon_location.png' %}" height=60 width=60></img></td>
                            <td class="teks_table_biodata">Jakarta, Indonesia</td>
                        </tr>
                              
                        <tr>
                            <td class="icon"><img src="{% static 'icon_calendar.png' %}" height=60 width=60></img></td>
                            <td class="teks_table_biodata">2 Mei 2000</td>
                        </tr>
                        
                        <tr>
                            <td class="icon"><img src="{% static 'icon_email.png' %}" height=60 width=60></img></td>
                            <td class="teks_table_biodata">zafira.binta@ui.ac.id</td>
                        </tr>	

                        <tr>
                            <td class="icon"><img src="{% static 'icon_npm.png' %}" height=60 width=60></img></td>
                            <td class="teks_table_biodata">1806205155</td>
                        </tr>
                    </table>
                </div>
                

            </li>

            <li class="pendidikan">
                <div class="batas_judul" id="batas_judul_muda">
                    <h3>Perjalanan saya menuntut ilmu</h3>
                </div>
                <div id="sd">
                    <div class="judul_teks">
                        <h1 class="judul_pendidikan" id="judul_pendidikan_sd">SDN 10<br>Pesanggrahan</h1>
                        <p class="teks_pendidikan" id="teks_pendidikan_sd">Saya bersekolah di SDN 10 Pesanggrahan pada tahun 2006 dan lulus pada tahun 2012</p>
                    </div>
                </div>

                <div id="smp">
                    <div class="judul_teks">
                        <h1 class="judul_pendidikan" id="judul_pendidikan_smp">SMPN 177<br>Jakarta</h1>
                        <p class="teks_pendidikan" id="teks_pendidikan_smp">Saya melanjutkan pendidikan ke SMPN 177 Jakarta pada tahun 2012 hingga tahun 2015</p>
                    </div>
                </div>

                <div id="sma">
                    <div class="judul_teks">
                        <h1 class="judul_pendidikan" id="judul_pendidikan_sma">SMAN 8<br>Jakarta</h1>
                        <p class="teks_pendidikan" id="teks_pendidikan_sma">Selanjutnya saya menuntut ilmu di SMAN 8 Jakarta pada tahun 2015 sampai 2018</p>
                    </div>  
                </div>

                <div id="kuliah">
                    <div class="judul_teks">
                        <h1 class="judul_pendidikan" id="judul_pendidikan_kuliah">Fasilkom<br>UI</h1>
                        <p class="teks_pendidikan" id="teks_pendidikan_kuliah">Sekarang saya adalah mahasiswi tahun kedua di Fakultas Ilmu Komputer Universitas Indonesia </p>
                    </div>
                </div>

            </li>

            <li class="pengalaman">
                <div class="batas_judul">
                    <h3>Pengalaman yang pernah saya dapatkan</h3>
                </div>

                <div id="bem">
                    <img id="logo_bem" src="{% static 'logo_bem.png' %}" alt="BEM FASILKOM UI" height="500" width="416.6666">
                    <h1 id="judul_bem">BEM FASILKOM UI<br>2019</h1>
                    <p id="teks_bem">Sejak kuliah semester 2 saya bergabung dalam BEM Fasilkom UI sebagai staff Media BEM Fasilkom UI 2019 dan menjadi media partner Adkesma BEM Fasilkom UI. Saya membuat poster sesuai permintaan Biro Adkesma.</p>
                </div>

                <div id="fuki">
                    <img id="logo_fuki" src="{% static 'logo_fuki.png' %}" alt="FUKI FASILKOM UI" height="500" width="416.6666">
                    <h1 id="judul_fuki">FUKI FASILKOM UI <br> 2019</h1>
                    <p id="teks_fuki">Saya bergabung dengan FUKI Fasilkom UI sejak semester 2 sebagai staff Biro Humas FUKI Fasilkom UI 2019 dan menjadi humas partner Departemen Pengabdian Masyarakat FUKI Fasilkom UI. Saya membuat <em>broadcast</em> sesuai permintaan Departemen Pengmas. </p>
                </div>
            </li>

            <li class="portofolio">
                <div class="batas_judul">
                    <h3>Hal-hal yang saya sukai</h3>
                </div>

                <div>
                    <p id="teks_portofolio">Ini adalah hasil dari penggabungan dua hal yang saya sukai, fotografi dan kucing</p>
                </div>

                <div class="foto">
                    <table class="foto_kucing">
                        <tr>
                            <td class="foto_kucing_td"><a href="{% url 'homepage:portofolio' %}#kucing_1"><img class="foto_kucing_img" src="{% static 'kucing1.jpg' %}" alt="kucing" height="250px" width="250px"></a></td>
                            <td class="foto_kucing_td"><a href="{% url 'homepage:portofolio' %}#kucing_2"><img class="foto_kucing_img" src="{% static 'kucing2.jpg' %}" alt="kucing" height="250px" width="250px"></a></td>
                            <td class="foto_kucing_td"><a href="{% url 'homepage:portofolio' %}#kucing_3"><img class="foto_kucing_img" src="{% static 'kucing3.jpg' %}" alt="kucing" height="250px" width="250px"></a></td>
                            <td class="foto_kucing_td"><a href="{% url 'homepage:portofolio' %}#kucing_4"><img class="foto_kucing_img" src="{% static 'kucing4.jpg' %}" alt="kucing" height="250px" width="250px"></a></td>
                            <td class="foto_kucing_td"><a href="{% url 'homepage:portofolio' %}#kucing_5"><img class="foto_kucing_img" src="{% static 'kucing5.jpg' %}" alt="kucing" height="250px" width="250px"></a></td>
                        </tr>

                        <tr>
                            <td class="foto_kucing_td"><a href="{% url 'homepage:portofolio' %}#kucing_6"><img class="foto_kucing_img" src="{% static 'kucing6.jpg' %}" alt="kucing" height="250px" width="250px"></a></td>
                            <td class="foto_kucing_td"><a href="{% url 'homepage:portofolio' %}#kucing_7"><img class="foto_kucing_img" src="{% static 'kucing7.jpg' %}" alt="kucing" height="250px" width="250px"></a></td>
                            <td class="foto_kucing_td"><a href="{% url 'homepage:portofolio' %}#kucing_8"><img class="foto_kucing_img" src="{% static 'kucing8.jpg' %}" alt="kucing" height="250px" width="250px"></a></td>
                            <td class="foto_kucing_td"><a href="{% url 'homepage:portofolio' %}#kucing_9"><img class="foto_kucing_img" src="{% static 'kucing9.jpg' %}" alt="kucing" height="250px" width="250px"></a></td>
                            <td class="foto_kucing_td"><a href="{% url 'homepage:portofolio' %}#kucing_10"><img class="foto_kucing_img" src="{% static 'kucing10.jpg' %}" alt="kucing" height="250px" width="250px"></a></td>
                        </tr>
                    </table>
                   

            </li>

            <li class="kontak">
                <div class="batas_judul">
                    <h3>Cari tahu lebih lanjut tentang saya!</h3>
                </div>

                <div>
                    <table class="table_link" align="center" border="0">
                        <tr><td><a href="https://id.linkedin.com/in/zafira-binta-feliandra-a47655191">LinkedIn</a></td></tr>
                        <tr><td><a href="http://line.me/ti/p/zafirabinta">LINE</a></td></tr>
                        <tr><td><a href="https://www.facebook.com/zafirabinta">Facebook</a></td></tr>
                        <tr><td><a href="https://instagram.com/zafirabinta">Instagram</a></td></tr>
                        <tr><td><a href="https://twitter.com/__zzaf">Twitter</a></td></tr>                                                      
                    </table>
                </div>
            </li>
        </ul>
    </div>
    {% endblock %}

