body{
    margin: 0;
    font-family: 'Cantarell', sans-serif;
    background: #D2B2E5;
}

.judul_form{
    font-family: 'Knewave', cursive;
}

ul.errorlist {
    display:none;
}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  ul.sidenav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
   
  ul.sidenav li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 900px) {
    ul.sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    
    ul.sidenav li a {
      float: left;
      padding: 15px;
    }
    
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    ul.sidenav li a {
      text-align: center;
      float: none;
    }
  }

/* Jika ukuran layar 680px atau kurang dari itu */

@media screen and (max-width:680px){

	.maincontent{
		width: auto;
		float: none;
    }
}

/* Jika ukuran layar 480px atau kurang */

@media screen and (max-width: 480px) {

    #header{
    height: auto;
    }
}
.card{
    margin-left: 350px;
}

.beranda{
    height: 100vh;
    background-image: url("/static/background_berandaa.jpg");
    background-repeat: no-repeat;
    background-size: 1520px 1140px;
    background-color: transparent;
    background-position: -250px -400px;
    min-height: 0px;
    background-attachment: fixed;
    padding-top: 255px;
    padding-bottom: 255px;
}

.teks_beranda{
    font-size: 25px;
    margin-left: 650px;
    clear: both;
}
#nama_beranda{
    font-family: 'Knewave', cursive;
    font-size: 70px;
    color: #281139;
    margin-top: -30px;
    clear: both;
}

.biodata{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 1520px 1140px;
    background-color: #E9D8F2;
    background-position: -200px -400px;
    min-height: 0px;
    background-attachment: fixed;
    padding-top: 80px;
    padding-bottom: 120px;
    color: #281139;
}
#foto_profil{
    margin-right: 90px;
    margin-top: 60px;
    float: right;
}
#teks_biodata{
    text-align: justify;
    font-size: 25px;
    max-width: 600px;
    margin-left: 50px;
    margin-top: 60px;
}

.icon{
    padding-right: 30px;
}

.table_biodata{
    font-size: 25px;
    margin-left: 100px;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0px;
}


ul { 
    list-style: none; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-style: none;
    border: none;
}

.batas_judul{    
    background-color: #D2B2E5;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Bad Script', cursive;
    color: #281139;
}

#batas_judul_muda{
    background-color: #E9D8F2;
}

.judul_pendidikan{
    margin: 0px; 
    padding: 10px;
    text-align: left;
    font-size: 45px;
    max-width: 300px;
    float: right;
    margin-top: -100px;
    background: #D2B2E5;
    color: #6A0DAD;
}

.teks_pendidikan{
    margin: 0px; 
    padding: 10px;
    text-align: justify;
    font-size: 25px;
    max-width: 300px;
    float: right;
    margin-right: 100px;
    /*margin-top: -50px;*/
    background: #D2B2E5;
    color: #281139;
}

.judul_teks{
    display: flex; 
    flex-direction: column; 
    float: right; 
    margin-right: 15px;
}

#sd{
    width: 100%;
    height: 100vh;
    background-image: url("/static/background_sd10.jpg");
    background-repeat: no-repeat;
    background-size: 1520px 737.73px;
    background-color: transparent;
    background-position: -200px -100px;
    min-height: 0px;
    background-attachment: fixed;
    padding-top: 255px;
    padding-bottom: 255px;
}


#smp{
    width: 100%;
    height: 100vh;
    background-image: url("/static/background_smp177.jpg");
    background-repeat: no-repeat;
    background-size: 1520px 1013.33px;
    background-color: transparent;
    background-position: -200px -100px;
    min-height: 0px;
    background-attachment: fixed;
    padding-top: 255px;
    padding-bottom: 255px;
}

#sma{
    width: 100%;
    height: 100vh;
    background-image: url("/static/background_sma8.jpg");
    background-repeat: no-repeat;
    background-size: 1520px 1140px;
    background-color: transparent;
    background-position: -200px -400px;
    min-height: 0px;
    background-attachment: fixed;
    padding-top: 255px;
    padding-bottom: 255px;
}

#kuliah{
    width: 100%;
    height: 100vh;
    background-image: url("/static/background_kuliah.jpg");
    background-repeat: no-repeat;
    background-size: 1520px 1049.45px;
    background-color: transparent;
    background-position: -200px -200px;
    min-height: 0px;
    background-attachment: fixed;
    padding-top: 255px;
    padding-bottom: 255px;
}

#bem{
    height: 100vh;
    background-repeat: no-repeat;
    background-color: #D2B2E5;
    min-height: 0px;
    background-attachment: fixed;
    padding-top: 60px;
    padding-bottom: 80px;
}

#judul_bem{
    font-size: 68px;
    margin-left: 50px;
    color: #6A0DAD;
}
#teks_bem{
    text-align: justify;
    font-size: 25px;
    max-width: 550px;
    margin-left: 50px;
    color: #281139;
}

#logo_bem{
    margin-right: 50px;
    margin-top: 20px;
    float: right;
}

#fuki{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 1520px 1140px;
    background-color: #E9D8F2;
    background-position: -200px -400px;
    min-height: 0px;
    background-attachment: fixed;
    padding-top: 60px;
    padding-bottom: 80px;
}

#judul_fuki{
    font-size: 68px;
    margin-left: 50px;
    color: #6A0DAD;
}
#teks_fuki{
    text-align: justify;
    font-size: 25px;
    max-width: 550px;
    margin-left: 50px;
    color: #281139;
}

#logo_fuki{
    margin-right: 50px;
    margin-top: 20px;
    float: right;
}

.portofolio{
    height: 100vh;
    background-repeat: no-repeat;
    background-color: #D2B2E5;
    min-height: 0px;
    background-attachment: fixed;
    padding-top: 20px;
    padding-bottom: 80px;
}

#teks_portofolio{
    font-size: 25px;
    text-align: center;
    color: #281139;
}

.foto_kucing{
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    
}

.foto_kucing_td{
    width: 20%;
    border: none;
    text-align: center;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

.foto_kucing_img{
    -webkit-filter: blur(3px); /* Safari */
    filter: blur(3px);
}

.foto_kucing_img:hover{
    filter: none;
}

.table_link{
    margin-top: 30px;
    border-spacing: 35px;
    font-size: 35px;
    text-align: center;
}

.kontak{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 1520px 600px;
    background-image: linear-gradient(#D2B2E5, rgb(132, 70, 173));
    background-position: 0px 70px;
    min-height: 0px;
    padding-bottom: 70px;
}

/* unvisited link */
a{
    font-family: 'Chelsea Market', cursive;
}
a:link {
    color: white;
    text-shadow: 2px 5px #D2B2E5;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: #281139;
    text-shadow: 0px 3px rgb(163, 28, 241);
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-shadow: 2px 5px rgb(163, 28, 241);
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: #281139;
    text-shadow: 2px 5px rgb(163, 28, 241);
    text-decoration: none;
  }